packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    qt5-default: []
    libqt5webkit5-dev: []
    python-lxml: []
    python-pip: []
    gcc: []
    xvfb: []
    build-essential: []
    gstreamer1.0-plugins-base: []
    gstreamer1.0-tools: []
    gstreamer1.0-x: []