{% load staticfiles %}
<html>
<head>
	<title>Valar Downloadis</title>
	<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
	<link href = "{% static 'app/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/home.css' %}" />

</head>
<body>
	<img src={% static "app/images/YouTube.jpg" %}>
	<div id="Home">
		
		<div id="p1">
			<a href="{% url 'home' %}"><p>VALAR DOWNLOADIS.</p></a>
		</div>
		<div id="p2"><p>ALL MEN MUST DOWNLOAD.</p></div>
		<div id="buttons2">
			<div id="btn"><button><a href="{% url 'video' %}"><p>Download a Video</p><p><i class="fa fa-2x fa-download" aria-hidden="true"></i></p></a></button></div>
			<div id="btn"><button><a href="http://127.0.0.1:8000/yo"><p>Download a Playlist</p><p><i class="fa fa-2x fa-download" aria-hidden="true"></i></p></a></button></div>
		</div>

	</div>
<!-- <div id="banner">
  	<div class="wrap-center">
		<div class="banner-centered" id="banner-text">
			<h2><strong>ValarDownloadis</strong></h2>
		</div>
	</div>
</div> -->

<!-- <script>
	function onBodyLoad(){
			home.init();
		}
		window.addEventListener('load', onBodyLoad)
	</script> -->
</body>
</html>