{% load staticfiles %}
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
	<link href = "{% static 'app/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href="{% static 'app/materialize-src/sass/materialize.css'%}" rel="stylesheet">
	<script src="{% static 'app/materialize-src/js/bin/materialize.js'%}"></script>
</head>
<body>
	<style>
		html { 
			background: url({% static "app/images/Elegant_Background-13.jpg" %}) no-repeat center center fixed; 
		}

		#home p {
			text-align: center;
			padding-top: 3%;
			font-size: 70px;
			font-family: "Montserrat", sans-serif;
			font-weight: bolder;
			color: white;
		}
	</style>
	<!-- <img src={% static "app/images/Elegant_Background-13.jpg" %}> -->
	<div id = "home" style="height:30%">
		<a href="{% url 'home' %}"><p>VALAR DOWNLOADIS.</p></a>
	</div>
	{% if not list_videos %}
	<p>OOPS. Connection Timed Out</p>
	{% endif %}
		{% for video in list_videos %}
		<div class="row" >
			<div class="col s12 m7 l4" style="margin-left:33.33%">
				<div class="card">
					<div class="card-image">
						<img src= "{{ video.thumbnail }}">
					</div>
					<div class="card-content">
						<h4>{{ video.title }} </h4>
						<p style="font-size:20px">Youtube views : {{ video.views }}</p>
						<p style="font-size:20px"><a href="{{ video.watch_link }}" target="_blank">Watch on YouTube : <i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
					</div>
					<div class="card-action">
						<a href="{{ video.highq_link }}">High Quality Download</a>
						<a href="{{ video.lowq_link }}">Low Quality Download</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
</body>